.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  background-image: url(../../..//images/image-button-trash.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: opacity 0.3s;
}

.photos__delete-button:hover {
  opacity: 0.6;
}