.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto 20px;
  min-height: 361px;
  width: 282px;
  transition: all .2s linear;
}

.card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 619px) {
  .card {
    width: 100%;
    margin: 0;
  }
}
