.card__like {
  background-image: url(../../../images/image-button-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  border: none;
  cursor: pointer;
  height: 19px;
  width: 21px;
  transition: all .2s linear;
}

.card__like:hover {
  opacity: .5;
}