.header {
  padding: 0 19px 30px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  transition: all .2s linear;
}

@media screen and (min-width: 619px) {
  .header {
    padding-bottom: 41px;
  }
}

@media screen and (min-width: 880px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}
